*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
  transition-timing-function: ease-in-out;

  transition-duration: 0.2s;
  transition-property: color, background-color, opacity;

  font-display: swap !important;
  /* overscroll-behavior: contain; SET TO CONTAIN FOR IOS BOUNCE */
  overscroll-behavior: none;
  overscroll-behavior-y: contain;
  will-change: font-size;
}

html {
  /* height: -webkit-fill-available; */

  /* scroll-behavior: smooth; */
  /* Hide scrollbar for IE and Edge */
  /* -ms-overflow-style: none; */
  /* Remove Scrollbar Firefox Fix, suggested in the comments */
  /* overflow: auto; */
  scrollbar-width: none;
  scrollbar-gutter: stable;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
html::-webkit-scrollbar {
  display: none;
}

html,
body {
  /* max-width: 100%; */

  /* min-height: 1vw; */
  margin: 0;

  color: var(--alpha);
  background-color: var(--light);

  font-size: 62.5%;

  font-display: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  position: relative;
  /* min-height: calc(100 * var(--vh)); */
  /* mobile viewport bug fix */
  /* min-height: -webkit-fill-available; */
  margin: 0;
  padding: 0;

  -webkit-overflow-scrolling: touch;
  scrollbar-gutter: stable both-edges;
  text-rendering: optimizeSpeed;
}

/* No Image larger than full width */

img,
img.lazyloaded {
  /* width: 100%; */
  max-width: 100%;
  height: auto;

  filter: blur(0);
}

img.lazyload {
  transition: 2s;
  transform: blur(0.1rem);
}

a {
  color: var(--charlie);
  outline-offset: 0rem;
  /* background-color: inherit; */

  touch-action: manipulation;
}

/* Make prettier underlines */
/* @supports (text-decoration-style: line) { */
  a {
    text-decoration-color: var(--bravo);
    text-decoration-line: underline;
    text-decoration-skip: edges;
    text-decoration-skip-ink: auto;
    text-decoration-style: line;
    text-decoration-thickness: 0.07em;
    text-underline-offset: 1.5px;

    &:hover,
    &:active,
    &:focus {
      text-decoration-thickness: 0.15em;
    }
  }
/* } */

a:hover,
a:active,
a:focus {
  color: var(--bravo);
  box-shadow: none;
  text-shadow: none;
}

/* a:focus{
  outline: solid 2px var(--bravo);
  outline-offset: 2px;
} */

:focus {
  outline: none !important;
}

:focus-visible {
  outline: solid 2px var(--bravo) !important;
  outline-offset: 1px;
}

a:moz-focusring {
  position: relative;
  z-index: 1;

  outline: solid 2px var(--bravo);
  outline-offset: 2px;
}

/* for devices that have bad pointers like WII, styluses, or no pointers */
@media (any-pointer: coarse),
(any-pointer: none),
(pointer: none),
(hover: none) {
  a:hover {
    color: var(--charlie);
    box-shadow: none;
    text-shadow: none;
  }
}

@media (any-hover: none) {
  a {
    text-decoration: underline;
  }
}

/* skip to content technique */
.skip {
  position: absolute;
  z-index: -999;
  top: auto;
  left: -999rem;

  display: block;
  overflow: hidden;

  width: 0.01rem;
  height: 0.01rem;
  padding: 1rem;

  color: var(--light) !important;
  border: 0;
  background-color: var(--dark) !important;
}

.skip:hover,
.skip:focus,
.skip:active {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;

  overflow: auto;

  width: 100%;
  width: 100vw;
  height: auto;

  text-align: center;
}

/* Modern Clearfix teqnique */
.clearfix::after {
  display: table;
  clear: both;

  content: '';
}

/* most current screen reader only technique */
.sr-only {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 0.01rem;
  height: 0.01rem;
  margin: -0.01rem;
  padding: 0;

  white-space: nowrap;

  color: var(--light) !important;
  border: 0;
  background-color: var(--dark) !important;

  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);

  content-visibility: auto;
}

main {
  /* max-width: 1200px; */
  overflow-x: hidden;
  /* padding-right: 2rem; */
  /* padding-left: 2rem; */

  flex-grow: 1;
  width: 100%;
  max-width: calc(75ch + .6rem);
  margin-right: auto;
  margin-left: auto;
  padding-right: .3rem;
  padding-left: .3rem;

  @media (max-width: 768px) {
    flex-grow: initial;
  }
}

body {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;

  & main {
    flex-grow: 1;
    align-self: start;
  }

  & header,
  & footer {
    width: 100%;
  }
}

.Warning {
  display: block;

  width: 100%;
  padding: 1rem;

  text-align: center;

  background-color: yellow;
}

.break-after::after {
  content: '\A';
  white-space: pre;
}

.honey {
  display: none;
  visibility: hidden;
}
.no-scroll{
  overflow:hidden;
}

/* make sure hidden things stay hidden */
[hidden] {
  display: none !important;
  visibility: hidden !important;
}

::selection {
  color: var(--light);
  background-color: var(--dark);
}

@supports (display:grid) {
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;

    grid-template-columns: [full-start] minmax(2rem, 1fr) [main-start] minmax(10rem, 75ch) [main-end] minmax(2rem, 1fr) [full-end];

    & header {
      grid-column: full;
    }

    & main {
      grid-column: main;
    }

    & footer {
      grid-column: full;
    }

    & noscript {
      grid-column: full;
    }
  }
}

@supports (content:normal) {
  @media print {
    a[href^='http']:after {
      content: ' ('attr(href) ')';
    }
  }
}


@media (prefers-reduced-data) {
  /* load in low res stuff */
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* removes all animation if people have reduced motioon seet up for ADA or Memory usage */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: auto;
  }
}

/* Auto screen dark */
/* TODO for js  */
/* @media (prefers-color-scheme: dark) {
  body {
    filter: invert(100%) hue-rotate(180deg);
  }

  img,
  video,
  iframe {
    filter: invert(100%) hue-rotate(180deg) !important;
  }

  * {
    box-shadow: none;
    text-shadow: none;
  }
} */

html[data-theme='dark'] {
  & body {
    filter: invert(100%) hue-rotate(180deg);
  }

  & img,
  & video,
  & iframe {
    filter: invert(100%) hue-rotate(180deg) !important;
  }

  * {
    box-shadow: none;
    text-shadow: none;
  }
}

/* Auto screen dark */
/* @media (prefers-contrast),
(inverted-colors),
(-ms-high-contrast: active),
(forced-colors: active) {
  * {
    color: var(--light);
    background-color: var(--dark);

    &.Button,
    &.Details,
    &.Summary,
    & input {
      border: 1px solid var(--light);
    }
  }
} */

@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
}

/* EOF */
