/* [data-theme="dark-mode"]{
  --light: #000;
  --dark: #fff;

  --alpha: #303030;
  --bravo: rgba(32, 122, 193, 1);
  --charlie: rgba(0, 100, 180, 1);
  --delta: #A9A9A9;
  --echo: #D3D3D3;
  --foxtrot: #818181;
}

@media screen and (prefers-color-scheme: light) {
  :root{
    --light: #fff;
    --dark: #000;

    --alpha: #303030;
    --bravo: rgba(32, 122, 193, 1);
    --charlie: rgba(0, 100, 180, 1);
    --delta: #A9A9A9;
    --echo: #D3D3D3;
    --foxtrot: #818181;
  }
}
@media screen and (prefers-color-scheme: dark){
  --light: #000;
  --dark: #fff;

  --alpha: #303030;
  --bravo: rgba(32, 122, 193, 1);
  --charlie: rgba(0, 100, 180, 1);
  --delta: #A9A9A9;
  --echo: #D3D3D3;
  --foxtrot: #818181;
} */

:root{
  --light: #fff;
  --dark: #000;

  /* basic site colors  */
  /* DO NOT USE COLOR NAMES THAT DEFEATS THE PURPOSE OF THE VARIABLES */
  --var-color-h: 238;
  --var-color-s: 65%;
  --var-color-l: 65%;

  --var-color-hsl: var(--var-color-h), var(--var-color-s), var(--var-color-l);

  --alpha: hsla(206,17%,24%,1);
  --bravo: hsl(238, 54.3%, 60.5%);
  --charlie: hsla(238,69%,52.5%,1);
  --delta: hsla(0, 0%, 0%, 0.1);
  --echo: hsla(0, 0%, 82%, 1);
  --foxtrot: hsla(0, 0%, 50%, 1);

  --background: var(--light);
  --foreground: var(--dark);
}

/* EOF */
