input,
textarea,
select {
  overflow: visible;

  width: 100%;
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0.3rem 0.5rem;

  font-size: inherit;
  line-height: inherit;
  vertical-align: bottom;

  color: inherit;
  border: 1px solid var(--dark);
  border-radius: var(--border-radius);
  outline: none;
  background-color: var(--light);
  box-shadow: none;

  -webkit-appearance: none;
          appearance: none;
  text-fill-color: var(--light);
  &[type='submit'] {
    width: auto;
  }
  &:focus {
    outline: solid 2px var(--bravo);
    outline-offset: 2px;
  }
}
[type='checkbox'] {
  display: inline-block;

  width: 1em;
  height: 1em;
  margin-right: 0.5rem;
  margin-bottom: 0;
  padding: 0;

  vertical-align: text-bottom;

  border: 1px solid currentColor;

  -webkit-appearance: none;
  &:checked {
    background-color: var(--dark);
    box-shadow: inset 0 0 0 0.1rem var(--light);
  }
}
[type='radio'] {
  display: inline-block;

  width: 1em;
  height: 1em;
  margin-right: 0.5rem;
  margin-bottom: 0;
  padding: 0;

  vertical-align: text-bottom;

  border: 1px solid currentColor;
  border-radius: 50%;

  -webkit-appearance: none;
  &:checked {
    background-color: var(--dark);
    box-shadow: inset 0 0 0 0.1rem var(--light);
  }
}
input,
textarea,
select {
  border: 1px solid var(--alpha);
}
datalist {
  display: none;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  color: inherit;
  background-color: var(--light) !important;
  -webkit-box-shadow: 0 0 0 1000px var(--light) inset;
          box-shadow: 0 0 0 1000px var(--light) inset;

  -webkit-text-fill-color: currentColor;
          text-fill-color: currentColor;
}
input:-moz-focus-inner,
select:-moz-focus-inner,
*:focus-inner {
  padding: 0;

  border: none;
}

label {
  display: inline-block;
  /* display: block; */
  /* margin-bottom: 1.5rem; */

  cursor: pointer;
}

.honey {
  display: none;
}

form [type='submit'] {
  display: block !important;
  /* clear: both; */
}

/* EOF */
