<nav class="Nav" aria-label="Main navigation">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About Us</a>
    </li>
    <li>
      <a href="/research">Research</a>
    </li>
    <li>
      <a href="/team">Team</a>
    </li>
  </ul>
</nav>
<!-- nav -->

{# EOF #}
