{% extends '_layout/_main' %}

{% block main %}
<h1 id="MainTitle">{{ entry.title }}</h1>

{# {% for block in entry.contentBlocks.all() %}
{% include[
'_blocktypes/_' ~ block.type,
'_blocktypes/_copyBlock'
] %}
{% endfor %} #}

<ul class="Sitemap" aria-label="Site Map">
  <li><a href="/">Home</a></li>
  <li><a href="/about">About Us</a></li>
  <li><a href="/research">Research</a></li>
  <li><a href="/team">Team</a></li>
</ul>

{% endblock %}

{# EOF #}
