.Blockquote {
  margin-top: 1.5rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  margin-left: 2.5rem;
  padding-left: 1rem;

  border-left: 5px solid var(--bravo);

  font-size: 1.5rem;
  line-height: inherit;
}
.Blockquote__byline {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 1rem;
}

/* EOF */
