.Button,
a:any-link.Button,
button.Button {
  display: inline-block;

  margin-bottom: 1.5rem;
  /* margin-left: 1rem; */
  /* margin-right: 1rem; */
  padding: 0.5rem 2rem;

  cursor: pointer;
  text-align: center;
  text-decoration: none;

  color: var(--light);
  border: none;
  border-radius: var(--border-radius); /* TODO delete later */
  background-color: var(--charlie);
  box-shadow: 0 0.1rem 0.2rem hsla(0, 0%, 0%, 0.3), 0 0.02rem 0.05rem hsla(0, 0%, 0%, 0.8), inset 0 0 0.5rem hsla(0, 0%, 100%, 0.1); /* TODO delete later */

  font-size: inherit;
  font-weight: 500;
  line-height: inherit;

  &:hover,
  &:focus {
    color: var(--light);
    background-color: var(--bravo);
    box-shadow: none;
  }
  &:active {
    color: var(--light);
    background-color: var(--charlie);
  }
  &:focus {
    outline: 2px solid var(--bravo);
    outline-offset: 2px;
  }
}


/* EOF */
