.Button,
a:any-link.Button,
button.Button {
  display: inline-block;

  margin-bottom: 1.5rem;
  /* margin-left: 1rem; */
  /* margin-right: 1rem; */
  padding: 0.5rem 2rem;

  cursor: pointer;

  font-size: inherit;
  line-height: inherit;
  text-align: center;
  text-decoration: none;

  color: var(--light);
  border: none;
  border-radius: var(--border-radius); /* delete later */
  background-color: var(--charlie);

  font-weight: 500;

  &:hover,
  &:focus {
    color: var(--light);
    background-color: var(--bravo);
  }
  &:active {
    color: var(--light);
    background-color: var(--charlie);
  }
  &:focus {
    outline: 2px solid var(--bravo);
    outline-offset: 2px;
  }
}


/* EOF */
