/* TODO: Add in and adjust code with polyfill and with ::backdrop */

.Dialog {
  position: fixed;
  z-index: 2;

  justify-content: center;
  align-items: center;

  padding: 2rem;

  content: '';
  color: inherit;
  background-color: var(--background);
  inset: 0;
  scroll-overflow: none;

  & * {
    transition: 0s !important;
  }
}

::backdrop {
  position: fixed;
  backdrop-filter: blur(.5rem);
  background: rgba(255, 255, 255, 0.90);
  inset: 0;
}

.Dialog:not([open]) {
  /* display: none !important; */
  visibility: hidden;
}

body.no-js {
  & [data-modal] {
    display: none !important;
  }

  & dialog,
  & .Dialog {
    z-index: 1 !important;

    margin-bottom: 1.5rem !important;
    padding: 0 !important;
  }

  & dialog,
  & .Dialog {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;

    display: block !important;
    visibility: visible !important;

    width: auto !important;
    height: auto !important;

    transform: none !important;
  }

  & dialog [class*='close'],
  & .Dialog [class*='close'] {
    display: none !important;
  }
}

@media (prefers-reduced-transparency) {
  background-color: var(--background);
}
