[role='tablist'] {
  margin-bottom: 0;
  padding: 0;
}

[role='tablist'] li,
[role='tablist'] a {
  display: inline-block;
}

[role='tablist'] a {
  padding: 0.5rem 1em;

  text-decoration: none;
}

[role='tablist'] [aria-selected] {
  position: relative;
  top: 2px;

  border: 1px solid var(--alpha);
  border-bottom: 0;
  border-bottom: 1px solid white;
  z-index: 2;
  outline-offset: -4px;
  background: #ffffff;
}

[role='tabpanel'] {
  margin-bottom: 1.5rem;
  padding: 1.5rem;

  border: 1px solid;
}

[role='tabpanel'] * + * {
  margin-top: 0.75rem;
}

@media (max-width: 550px) {
  [role='tablist'] li,
  [role='tablist'] a {
    position: static;

    display: block;
  }

  [role='tablist'] a {
    border: 1px solid #222222 !important;
  }

  [role='tablist'] li + li a {
    border-top: 0 !important;
  }

  [role='tablist'] [aria-selected] {
    position: static;
  }

  [role='tablist'] [aria-selected]::after {
    content: '\0020⬅';
  }

  [role='tabpanel'] {
    border-top: 0;
  }
}
