.Footer {
  margin-top: 3rem;
  padding: 1.5rem;

  background-color: var(--echo);
  box-shadow: 0 -0.1rem 0.2rem hsla(0, 0%, 0%, 0.3), 0 -0.1rem 0.1rem hsla(0, 0%, 0%, 0.1);
}
.Footer a {
  background-color: inherit;
}

@supports (padding: min(0px)) {
  .Footer {
    padding-right: max(env(safe-area-inset-right, 1.5rem), 1.5rem);
    padding-bottom: max(calc(env(safe-area-inset-bottom) + 1.5rem), 1.5rem);
    padding-left: max(env(safe-area-inset-left, 1.5rem), 1.5rem);
  }
}

/* EOF */
