.Form__checkbox {
  display: block;

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  & [type='checkbox'] {
    vertical-align: text-top;
  }
}
.Form fieldset label {
  margin-right: 1rem;
}
input:not(:placeholder-shown):required:invalid{
  border-color: red;
}
input:valid{
  border-color: green;
}


/* EOF */
