.Header {
  position: sticky;
  z-index: 2;
  top: 0;

  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;

  margin-bottom: 2rem;
  padding: 0.5rem;

  background-color: hsla(250, 100%, 100%, .85);
  backdrop-filter: blur(1rem);
}

@supports (animation-timeline: works) {
  @scroll-timeline shadow-scroll-timeline {
    time-range: 1s;
    /* scroll-offsets: 0%, 1vh; */
    start: 0;
    end: 50vh;
  }
  @keyframes shadow-fade {
    from{
      box-shadow: 0 0.1rem 0.2rem hsla(0, 0%, 0%, 0.01), 0 0.1rem 0.1rem hsla(0, 0%, 0%, 0.01);
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    to{
      box-shadow: 0 0.1rem 0.5rem hsla(0, 0%, 0%, 0.3), 0 0.1rem 0.2rem hsla(0, 0%, 0%, 0.1);
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .Header {
    animation: forwards .08s ease-in-out shadow-fade;
    animation-timeline: shadow-scroll-timeline;
  }
}

.Header__logo {
  display: inline-block;

  margin-right: auto;
  padding: 1rem;
  z-index: 1;

  /* background-color: inherit; */

  & img {
    filter: none !important;
  }

  &:hover img {
    cursor: pointer;
  }
}

.Theme__picker {
  & input {
    position: relative;

    vertical-align: middle;

    border: none;
    background-color: transparent;
    appearance: none;

    &:checked {
      background-color: transparent;
      box-shadow: none;
    }

    &::after {
      position: absolute;
      top: -0.2em;

      content: '🌙';

      filter: drop-shadow(0 0 0.1rem var(--dark));
    }

    &:checked::after {
      content: '☀️';

      filter: invert(100%) hue-rotate(180deg) drop-shadow(0 0 0.1rem var(--dark));
    }
  }
}

@supports (padding: min(0px)) {
  .Header {
    /* padding-top: max(env(safe-area-inset-bottom), 1.5rem); */
    padding-right: max(env(safe-area-inset-right, 0.5rem), 0.5rem);
    padding-left: max(env(safe-area-inset-left, 0.5rem), 0.5rem);
  }
}

/* EOF */
