.Header {
  position: sticky;
  z-index: 2;
  top: 0;

  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;

  margin-bottom: 0.5rem;
  padding: 0.5rem;

  background-color: var(--echo);
  box-shadow: 0 0.1rem 0.2rem hsla(0, 0%, 0%, 0.3), 0 0.1rem 0.1rem hsla(0, 0%, 0%, 0.1);
}

.Header__logo {
  display: inline-block;

  margin-right: auto;
  padding: 1rem;

  background-color: inherit;

  & img {
    filter: none !important;
  }

  &:hover img {
    cursor: pointer;
  }
}

.Theme__picker {
  & input {
    position: relative;

    vertical-align: middle;

    border: none;
    background-color: transparent;

    &:checked {
      background-color: transparent;
      box-shadow: none;
    }

    &::after {
      position: absolute;
      top: -0.2em;

      content: '🌙';

      filter: drop-shadow(0 0 0.1rem var(--dark));
    }

    &:checked::after {
      content: '☀️';

      filter: invert(100%) hue-rotate(180deg) drop-shadow(0 0 0.1rem var(--dark));
    }
  }
}

@supports (padding: min(0px)) {
  .Header {
    /* padding-top: max(env(safe-area-inset-bottom), 1.5rem); */
    padding-right: max(env(safe-area-inset-right, 0.5rem), 0.5rem);
    padding-left: max(env(safe-area-inset-left, 0.5rem), 0.5rem);
  }
}

/* EOF */
